{
  "extends": ["react-app", "airbnb", "airbnb/hooks" ,"prettier", "prettier/react"],

  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "no-console": "error",
    "no-param-reassign": "error",
    "no-shadow": "error",
    "import/no-cycle": "error",
    "no-prototype-builtins": "error",
    "no-bitwise": "error",
    "import/no-extraneous-dependencies": "error",
    "func-names": "error",
    "import/no-unresolved": "error",
    "jsx-a11y/label-has-associated-control": "error",
    "react/destructuring-assignment": "error",
    "react/prop-types": "error",
    "react/button-has-type": "error",
    "react/no-unescaped-entities": "error",
    "class-methods-use-this": "error",
    "jsx-a11y/no-static-element-interactions": "error",
    "react/no-array-index-key": "error",
    "react/sort-comp": "error",
    "jsx-a11y/click-events-have-key-events": "error",
    "no-unused-expressions": "error",
    "react/forbid-prop-types": "error",
    "react/static-property-placement": "error",
    "react/jsx-props-no-spreading": "error",
    "react/require-default-props": "error",
    "no-use-before-define": "error",
    "consistent-return": "error",
    "jsx-a11y/control-has-associated-label": "error",
    "camelcase": "error",
    "no-case-declarations": "error",
    "new-cap": "error",
    "react/no-unused-state": "error",
    "react/no-did-update-set-state": "error",
    "react/prefer-stateless-function": "error",
    "jsx-a11y/mouse-events-have-key-events":"error",
    "react/jsx-no-bind": "error",
    "no-return-assign": "error",
    "react/state-in-constructor": "error",
    "react/no-redundant-should-component-update": "error",
    "no-nested-ternary": "error",
    "no-underscore-dangle": "error",
    "no-restricted-globals": "error",
    "jsx-a11y/no-noninteractive-element-interactions": "error",
    "max-classes-per-file": "error",
    "react/no-access-state-in-setstate": "error",
    "prefer-destructuring": "error",
    "no-plusplus": "error",
    "import/no-named-as-default": "error",
    "import/no-duplicates": "error",
    "react/default-props-match-prop-types": "error",
    "no-continue": "error",
    "react/no-deprecated": "error",
    "no-alert": "error",
    "import/extensions": "error",
    "prefer-const": "error",
    "operator-assignment": "error",
    "no-restricted-properties": "error",
    "no-restricted-syntax": "error",
    "react/no-unused-prop-types": "error",
    "radix": "error",
    "jsx-a11y/media-has-caption": "error",
    "guard-for-in": "error",
    "no-useless-return": "error",
    "no-constant-condition": "error",
    "react/no-children-prop": "error",
    "jsx-a11y/anchor-is-valid": "error",
    "import/named": "error",
    "global-require": "error",
    "no-await-in-loop": "error",
    "jsx-a11y/no-noninteractive-tabindex": "error",
    "import/no-dynamic-require": "error"
  }
}
