.control {
  width: 52px;
  height: 52px;
  margin: 5px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.control:not(.disabled) {
  cursor: pointer;
}

.control:active {
  transform: translateY(1px);
}
