@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "TT Norms";
  src: url("fonts/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"),
    url("fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTNorms-Bold.woff2") format("woff2"),
    url("fonts/TTNorms-Bold.woff") format("woff"),
    url("fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("fonts/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"),
    url("fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTNorms-Medium.woff2") format("woff2"),
    url("fonts/TTNorms-Medium.woff") format("woff"),
    url("fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --topMarginContainer: 82px;
}
