.messagesList {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.messagesList::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
