.aside {
  display: flex;
  flex-direction: column;
  width: 290px;
  padding-top: var(--topMarginContainer);
  max-height: calc(98vh - var(--topMarginContainer));
}

.informSection {
  align-self: center;
}
